body {
    background-color: #000000;
    color: #519c10;
    font-family: monospace;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

a {
    color: #519c10;
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.terminalBase {
    background-color: #1f1f1f;
    padding: 8px;
    border-radius: 15px;
}

.terminalSecondLayer {
    background-color: #2C2C2B;
    padding: 6px;
    border-radius: 15px;
}

.terminalthirdLayer {
    background-color: #343634;
    padding: 6px;
    border-radius: 15px;
}

.minimizedButtonPromt {
    background-color: #535551;
    padding: 6px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.minimizedButtonPromt:hover, .minimizedButtonPromt:focus {
    background-color: #066832;
    /*
    padding: 8px;
    margin: 10px 6px;
    */
}

.buttonImage {
    position: relative;
    border-radius: 50%;
    left: -340px;
}

.buttonTitleAboutMe {
    position: relative;
    left: -250px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleAIProjects {
    position: relative;
    left: -176px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleAIProjectsV2 {
    position: relative;
    left: -227.5px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleFSM {
    position: relative;
    left: -108px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleGameProject {
    position: relative;
    left: -215px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleUbisoftNext {
    position: relative;
    left: -141px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleDontFail {
    position: relative;
    left: -165px;
    top: -70px;
    font-size: 24px;
}

.buttonTitleVR {
    position: relative;
    left: 27.5px;
    top: -60px;
    font-size: 24px;
}

.linedividerMain {
    border-bottom: 2px solid #519c10;
    position: relative;
    width: 670px;
    left: 68px;
    top: -70px;
}

.linedividerSlightlySmaller {
    border-bottom: 2px solid #519c10;
    position: relative;
    width: 667.5px;
    left: 70px;
    top: -70px;
}

.linedividerSlightlySmallerV2 {
    border-bottom: 2px solid #519c10;
    position: relative;
    width: 667.5px;
    left: 70px;
    top: -82.5px;
}

.linedividerSlightlySmallerV3 {
    border-bottom: 2px solid #519c10;
    position: relative;
    width: 667.5px;
    left: 70px;
    top: -92.5px;
}

.mainButtonText {
    position: relative;
    top: -20px;
    font-size: 18px;
}

.mainButtonTextAfterImage {
    position: relative;
    top: -5px;
    font-size: 18px;
}

.mainButtonReleaseDate {
    position: relative;
    top: -70px;
    font-size: 18px;
}

.mainButtonReleaseDateV2 {
    position: relative;
    top: -60px;
    font-size: 18px;
}

//
.typed-text {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 3px solid #519c10;
    margin-bottom: 10px;
}

.smallertyped-text {
    font-size: 23px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

.highlight-box {
    width: 300px;
    height: 200px;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

.highlight-box:hover {
    background-color: rgba(0, 255, 0, 0.5);
}

button {
    /*
        #555153
        #535551
        #4C5B4D
    */
    background-color: #4C5B4D;
    border: none;
    color: #519c10;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}

.button1 {
    border-radius: 12px;
    font-size: 19px;
    margin: 8px 4px;
}

.button2 {
    border-radius: 14px;
    font-size: 24px;
    margin: 10px 6px;
}

.button3 {
    border-radius: 20px;
    font-size: 32px;
    margin: 10px 4px;
}

button:hover, button:focus {
    background-color: #3c7911; /* Change color on hover */
    /*
    padding: 8px;
    margin: 10px 6px;
    */
}

.dropdown {
    position: fixed; /* Fixed position */
    top: 20px; /* Distance from top */
    right: 20px; /* Distance from right */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 9px;
    background-color: #535551;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}